<% @tweets.each do |tweet| %>
  <% tweet.links.each do |link| %>
  	<script type="text/javascript"> 
	  getImage('<%= link %>', '<%= tweet.div_id %>');
  	</script>
  <% end %>
<% end %>

<% @tweets.each do |tweet| %>
  <img src="<%= tweet.profile_image_url %>" alt="bleh"/>
  <b><%= tweet.from_user %></b><br/>
  <%= tweet.text %><br/>
  <%= tweet.created_at %><br/>
  <div id=<%= tweet.div_id %>> </div>
  <% tweet.twitter_images.each do |img| %>
  	<img src="<%= img %>" alt="bleh"/>
  <% end %>
  <br/>
<% end %>